@import "../../styles/main.scss";

.block-grid-item {

    .block-grid-image {
        position: relative !important;

        .grid-diamond-btn {
            position: absolute !important;
            top: 50% !important; 
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
    }
}
}