@import "../../styles/main.scss";

.navigation-link,
.cart-link {
    font-size: 14px !important;
    color: $brand-dk-grey !important;
    text-transform: uppercase !important;
    margin: 1px;
    background-color: transparent !important;
    white-space: nowrap;
    font-weight: 500px;
}

.nav-cart-badge {
    background-color: $brand-turquoise !important;
    color: $brand-true-white !important;
}