@import "../../styles/main.scss";


.btn {
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

.btn--primary {
    background-color: $brand-turquoise;
    color: $brand-true-white;
    border: none;
}

.btn--small {
    padding: 5px 10px;
    font-size: 14px;
}

.btn--medium {
    padding: 10px 15px;
    font-size: 18px;
}

.btn--large {
    padding: 15px 20px;
    font-size: 21px;
}