@import "../../styles/main.scss";

.rotate-45 {
  margin: 0 !important;
  width: fit-content !important;
  height: fit-content !important;

  .btn {
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    width: min-content;
    margin: 5px;


    .btn-text {
      text-transform: uppercase;
      white-space: normal;
      background: none !important;
    }

    span,
    p {
      font-family: "Gill Sans" !important;
      font-weight: 500 !important;
      text-transform: uppercase;
    }

  }

  .btn--primary {
    background-color: $brand-turquoise;
    color: $brand-true-white;
    border: none;

    &:hover {
      background-color: $brand-turquoise-hover;
      transform: scale(1.05);
    }
  }

  .btn--primary-transparent {
    background-color: rgba(63, 167, 187, .90);
    color: $brand-true-white;
    border: none;

    &:hover {
      background-color: $brand-turquoise-hover;
      transform: scale(1.05);
    }
  }

  .btn--secondary {
    background-color: $brand-burnt-orange;
    color: $brand-true-white;
    border: none;

    &:hover {
      background-color: $brand-burnt-orange-hover;
      transform: scale(1.05);
    }
  }

  .btn--tertiary {
    background-color: $brand-dk-grey;
    color: $brand-true-white;
    border: none;

    &:hover {
      background-color: $brand-dk-grey-hover;
      transform: scale(1.05);
    }
  }

  .btn--xs {
    padding: 3px 0px;
    font-size: 8px;
    height: 65px;
    width: 65px;
    margin: 0 !important;
  }

  .btn--small {
    padding: 5px 0px;
    font-size: 11px !important;
    height: 80px;
    width: 80px;
    margin: 0 !important;
  }

  .btn--medium {
    padding: 0;
    font-size: 15px;
    height: 95px;
    width: 95px;
    margin: 0 !important;
  }

  .btn--large {
    padding: 0;
    font-size: 18px;
    height: 110px;
    width: 110px;
    margin: 0 !important;
  }

  .btn--xl {
    padding: 0;
    font-size: 20px;
    height: 125px;
    width: 125px;
    margin: 0 !important;
  }
}