@import "../../styles/main.scss";

.rotate-45 {
  margin: 0;

.btn {
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease; 
    text-align: center;
    // margin-top: 10px 0 0 10px;
  
    .btn-text {
      text-transform: uppercase;
      white-space: normal;
    }
  }
  
  .btn--primary {
    background-color: $brand-turquoise;
    color: $brand-true-white;
    border: none;

    &:hover {
      background-color: $brand-turquoise-hover;
      transform: scale(1.05);
    }
  }
  
  .btn--secondary {
    background-color: $brand-burnt-orange;
    color: $brand-true-white;
    border: none;

    &:hover {
      background-color: $brand-burnt-orange-hover;
      transform: scale(1.05);
    }
  }

  .btn--tertiary {
    background-color: $brand-dk-grey;
    color: $brand-true-white;
    border: none;

    &:hover {
      background-color: $brand-dk-grey-hover;
      transform: scale(1.05);
    }
  }
  
  .btn--small {
    padding: 5px 10px;
    font-size: 13px;
    height: 70px;
    width: 70px;
  }
  
  .btn--medium {
    padding: 10px 15px;
    font-size: 15px;
    height: 95px;
    widtH: 95px;
  }
  
  .btn--large {
    padding: 15px 20px;
    font-size: 18px;
    height: 110px;
    widtH: 110px;
  }
}