$brand-true-white: #FFFFFF;
$brand-turquoise: #3FA7B6;
$brand-burnt-orange: #C09559;
$brand-dk-grey: #707070;
$brand-lt-grey: #F2F2F2;
$brand-green: #C4FCA6;
$brand-black: #252F38;
$brand-true-black: #000000;

// Hover colours

$brand-turquoise-hover: #79C1CC;
$brand-burnt-orange-hover: #D3B58B;
$brand-dk-grey-hover: #9B9B9B;

#sesami__buttonWrapper {
    background-color: $brand-turquoise;
    width: fit-content;
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 10px;
    text-transform: uppercase;
}

.chakra-modal__content {
    opacity: 1 !important;
}


iframe {
    max-width: 100%;

    // Max width media query tablet and mobile
    // @media (max-width: 600px) {

    //     max-height: 300px;
    // }

}

.react-datepicker-wrapper {
    width: 100%;
}

.date-picker {
    border-radius: var(--chakra-radii-md);
    text-align: center;
    padding-inline-end: 2rem;
    height: var(--chakra-sizes-10);
    border-radius: var(--chakra-radii-md);
    border: 1px solid rgb(226, 232, 240);
    width: 100%;
}