.header {
  display: grid;
  place-items: center;
  // @TODO: Need spacing variables
  padding: 15px 0;

  .mobile-nav {
    background-color: transparent !important;
  }

  .navbar {
    @media (max-width: 414px) {
      // margin-top: 5px !important;
      // margin-bottom: 5px !important;
      // padding-left: 5px !important;
      // padding-right: 5px !important;
      margin-top: var(--chakra-space-4);
      margin-bottom: var(--chakra-space-4);
      -webkit-padding-start: var(--chakra-space-4);
      padding-inline-start: var(--chakra-space-4);
      -webkit-padding-end: var(--chakra-space-4);
      padding-inline-end: var(--chakra-space-4);
    }
    button.hamburger {
      background: white;

      &:hover {
        background: white !important;
      }
      @media (max-width: 414px) {
        margin-left: 1px !important;
        height: 35px !important;
        width: 35px !important;
      }
    }
    .logo-header {
      .header-logo-reg, .header-logo-dark {
        img {
          @media (max-width: 414px) {
            width: 160px !important;
            max-width: 165px !important;
          }
        }
      }
    }
  }
}