.header {
  display: grid;
  place-items: center;
  // @TODO: Need spacing variables
  padding: 15px 0;

  .mobile-nav {
    background-color: transparent !important;
  }

  .header-logo-reg, .header-logo-dark {
    @media (max-width: 414px) {
      width: 160px !important;
      max-width: 165px !important;
    }
  }
}