@import "../../styles/main.scss";

.footer-container {
    @media (max-width: 768px) {
        padding: 1rem 0 1rem 0;
    }

    text-align: left;

    .footer-logo {
        max-width: 250px;
    }

    .footer-heading {
        color: $brand-burnt-orange;
        text-transform: uppercase;
    }

    .footer-link {
        color: $brand-dk-grey;
    }

// Footer theme toggle

    .footer-bottom {
        text-align: center;
    }
    
    .theme-toggle-container {
        margin-top: 1.5rem;
        text-align: center;
    }
}
