@import "../../styles/main.scss";

.footer-heading {
    color: $brand-burnt-orange;
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
}

.footer-menu {
    text-align: left;
}

.footer-link {
    color: $brand-dk-grey;
    text-transform: uppercase;
    justify-content: left;
    text-align: left !important;
}

.footer-bottom {
    text-align: center;
}

