@import "../../styles/main.scss";

.latest-news-container {
    margin: 3rem;

    .latest-news-img {
        height: 350px;
        width: auto;

        .grid-center-diamond {
            // padding-top: 9rem;
        }
    }
}